.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 4%;
  flex: 1 12%;
}

.product-info {
  margin-top: auto;
}

.add-to-cart-btn {
  background: #00ff14;
  border: none;
}

.photo {
  height: 20vh;
  width: 20vh;
}
panel1 {
  color: darkgreen;
}
panel2 {
  color: green
}
h1{
  color: white;
  background-color: rgb(8, 51, 22);
  padding-bottom: 20px;
  margin-top: 10px;
  padding-top: 20px;
}
h2{
  color: green;
}
body{
  background-color: white;
}
